.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.logoHeader {
    // border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;

    h1 {
        font-size: 30px;
        color: #FFFFFF;
    }
}

.navHeader {
    // border: solid green;
    width: 30%;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .link {
        color: #FFFFFF;
        font-size: 20px;
        text-decoration: none;
    }
}

.barraDeBusca {
    border: solid #FFFFFF;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-right: 1%;

    input {
        background-color: transparent;
        border: none;
        width: 70%;
        height: 5vh;
        color: #FFFFFF;

        &::placeholder {
            color: #FFFFFF;
            font-size: 20px;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

@media(max-width: 500px){
    .header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logoHeader {
        width: 85%;
    }

    .navHeader {
        width: 95%;
    }

    .barraDeBusca {
        display: none;
    }
}