.contatosFooter {
    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    color: #FFFFFF;

    nav {
        // border: solid red;
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
}

.copyright {
    background-color: #232020;
    color: #FFFFFF;
    font-size: 15px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px) {
    .contatosFooter {
        flex-direction: column;
        justify-content: space-around;

        nav {
            width: 60%;
        }
    }

    .copyright {
        p {
            font-size: 12px;
            width: 60%;
            text-align: center;
        }
    }
}